@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(materialicons..woff) format("woff");
}

.bd {
  background: url(bewerbung.jpg);
  background-size: 100%;
}

.name {
  margin-bottom: 4vmin;
}

main {
  display: block;
}

.material-icons {
  font-feature-settings: "liga";
}
